* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: ease-in-out 0.7s;
}

:root {
    --color1:#121212;
    --color2:#DBDBDB;
    --color3:#0E0E0E;
    --color4:#2B2B2B;
    --color5:#1ed760;
    --color6:#3BE477;
}

main {
  
    background-image: linear-gradient(to top,#000000,#0e0e0e,#2B2B2B);
    background-attachment: fixed;
    padding: 3em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 55%;
    padding: 2em;
    background: var(--color1);
    max-width: 670px;
    margin: auto;
    border-radius: 0.9em;
    justify-content: center;
    gap: 0.7em;
}

section h1 {
    font-size: 25pt;
    color: var(--color2);
    margin-bottom: 1em;
}

.spotify-logo img {
    width: 35px;
}

.socials {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.342);
    padding: 1em;
    border-radius: 4em;
    width: 60%;
    cursor: pointer;
    justify-content: space-evenly;
   
}
.socials p {
    font-weight: 700;
    color: var(--color2);

}
.socials:hover {
    border: 1px solid var(--color2);
}
.socials img {
    width: 20px;
}

.socials#apple img {
    width: 24px;
    margin-left: -1em;
}

.numero {
    display: flex;
    gap: 3em;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.342);
    padding: 1em;
    border-radius: 4em;
    width: 60%;
    cursor: pointer;
}

.numero:hover {
    border: 1px solid var(--color2);
}

.numero p {
    font-weight: 700;
    color: var(--color2);
    width: 70%;
    margin: auto;
    text-align: center;
}

hr {
    width: 90%;
    margin: 1em auto 1em;
}

form,label {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--color2);
    font-weight: 600;
}

form input {
    background: transparent;
    padding: 1em;
    border-radius: 0.7em;
    width: 300px;
    color: rgba(255, 255, 255, 0.363);
    font-size: 13pt;
    font-weight: 600;
}

form input:focus {
    outline: white;
}

input[type = "submit"] {
    cursor: pointer;
    background: var(--color5);
    border: none;
    color: var(--color1);
}
input[type = "submit"]:hover {
    background: var(--color6);
    transform: scale(1.1);
}

section a {
    color: var(--color2);
    font-size: 13pt;
    padding: 1em;
    font-weight: 600;
}

span {
    color:  rgba(255, 255, 255, 0.363);
}

footer {
    padding: 3em;
    display: flex;
    flex-direction: column;
    background: var(--color1);
    color: var(--color2);
    align-items: center;
}

footer a {
    color:  rgba(255, 255, 255, 0.363);
}


@media (max-width:760px) {
    main {
        background: var(--color1);
    }

    section h1 {
        text-align: center;
        font-size: 20pt;
    }

    .socials {
        flex-wrap: nowrap;
        width: 90%;
    }

    .numero {
        width: 90%;
    }

    form input {
        width: 450px;
    }

    footer {
        text-align: center;
    }
    span {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:500px) {
    section h1 {
        text-align: center;
        font-size: 20pt;
    }
    .socials {
        width: 350px;
    }
    .socials p {
        font-size: 12pt;
    }
    .numero {
        width: 350px;
    }

    form input {
        max-width: 340px;
    }

    span {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}




